* {
  box-sizing: border-box;
}

body {
    font-family: source sans pro;
  margin: 0;
  font-family: sans-serif;
  background: #f5f6f7;
}

.header {
    font-family: playfair display;
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #AE767A;
  color: #632b2e;
  border-bottom: 4px solid #632b2e;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}

h3 {
    text-transform: none;
    color: #FFFFFF;
    font-family: WindSong;
}